# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from requests import get
import gmaps
import os

# Import API key
sys.path.insert(0,r'c:\Users\Owen\Desktop\DSV\_HW_Repos\python-api-challenge\common')
from api_keys import g_key

#path to read csv data generated by WeatherPy
csv_file_path = "../output_data/cities.csv"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
#load csv data generated by WeatherPy into dataframe
cityData = pd.read_csv(csv_file_path)
cityData

,city_name,lat,lng,max_temp,hum,cloud,wind_speed,country_code,date
0,Soyo,-6.13,12.37,76.78,84,97,7.23,AO,10/20/2020
1,Barrow,71.29,-156.79,28.40,86,90,12.75,US,10/20/2020
2,Hobart,-42.88,147.33,68.00,51,40,5.82,AU,10/20/2020
3,Tuatapere,-46.13,167.68,55.99,62,48,13.00,NZ,10/20/2020
4,Bongandanga,1.50,21.05,70.23,99,100,0.78,CD,10/20/2020
...,...,...,...,...,...,...,...,...,...
544,Znamenskoye,57.13,73.83,43.12,83,100,3.00,RU,10/20/2020
545,Grand-Lahou,5.14,-5.02,77.07,87,100,7.72,CI,10/20/2020
546,Mayor Pablo Lagerenza,-19.93,-60.77,75.16,87,100,3.94,PY,10/20/2020
547,Liusha,27.21,108.59,59.92,73,89,2.55,CN,10/20/2020
548,Vao,-22.67,167.48,73.47,83,99,13.22,NC,10/20/2020

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#configure gmaps with API key
gmaps.configure(g_key)

#create list of lat, lng tuples for each city
locDF = cityData[['lat','lng']]
locPairs = list(locDF.to_records(index=False))

#create list of humidity percentages for each city
weights = list(cityData['hum'].values)

#create heatmap with city locations weighted by humidity percentages
humHeatMap = gmaps.Map()
humWeightedLayer = gmaps.heatmap_layer(locPairs, weights = weights)
humHeatMap.add_layer(humWeightedLayer)
humHeatMap

Map(configuration={'api_key': 'AIzaSyDDBhXcb1hTN6nWybZ5WvJk_yUiISAlSAA'}, data_bounds=[(-48.674139436559166, -…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#filter city data to only citys with temparate weather, low humidity and no clouds
selectCityData = cityData[(cityData['max_temp'] <= 80) & (cityData['max_temp'] >= 70) & (cityData['hum'] < 50) & (cityData['cloud'] == 0)]
selectCityData.dropna(inplace = True)
selectCityData

,city_name,lat,lng,max_temp,hum,cloud,wind_speed,country_code,date
38,Busselton,-33.65,115.33,71.01,39,0,6.29,AU,10/20/2020
116,Am Timan,11.03,20.28,73.51,42,0,3.33,TD,10/20/2020
326,Tessalit,20.20,1.01,79.11,17,0,9.95,ML,10/20/2020
336,Hurghada,27.26,33.81,77.00,44,0,5.82,EG,10/20/2020
404,Avenal,36.00,-120.13,75.00,38,0,1.01,US,10/20/2020
460,Taoudenni,22.68,-3.98,77.61,19,0,10.16,ML,10/20/2020
472,Gwadar,25.12,62.33,79.66,26,0,8.66,PK,10/20/2020
473,Pokhara,28.23,83.98,76.05,45,0,1.66,NP,10/20/2020
541,Doka,13.52,35.77,72.50,47,0,3.58,SD,10/20/2020

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [29]:
#create dataframe for hotels in the selected cities
hotel_df = selectCityData.copy()

#add column for hotel names - values to be replaces later
hotel_df['Hotel Name'] = hotel_df['city_name']

#query URL and parameters
placesURL = 'https://maps.googleapis.com/maps/api/place/findplacefromtext/json'
inputstring = 'hotel'
radius = 5000
fields = 'name,formatted_address'
inputtype = 'textquery'

#return a hotel for each row location
for i, city in hotel_df.iterrows():
    lat = city['lat']
    lng = city['lng']
    locationbias = f'circle:{radius}@{lat},{lng}'
    print(city['city_name'] + ',' + city['country_code'])
    params = {'key': g_key, 'input': inputstring, 'inputtype': inputtype, 'fields': fields, 'locationbias': locationbias}
    hotelResult = get(placesURL, params).json()
    hotelName = hotelResult['candidates'][0]['name']
    #place hotel name in the hotel name column
    hotel_df['Hotel Name'][i] = hotelName
hotel_df

Busselton,AU
Am Timan,TD
Tessalit,ML
Hurghada,EG
Avenal,US
Taoudenni,ML
Gwadar,PK
Pokhara,NP
Doka,SD

,city_name,lat,lng,max_temp,hum,cloud,wind_speed,country_code,date,Hotel Name
38,Busselton,-33.65,115.33,71.01,39,0,6.29,AU,10/20/2020,Eight Willows Retreat
116,Am Timan,11.03,20.28,73.51,42,0,3.33,TD,10/20/2020,Hotel Versey Days Inn by Wyndham Chicago
326,Tessalit,20.20,1.01,79.11,17,0,9.95,ML,10/20/2020,Hotel Versey Days Inn by Wyndham Chicago
336,Hurghada,27.26,33.81,77.00,44,0,5.82,EG,10/20/2020,Meraki Resort (Adults Only)
404,Avenal,36.00,-120.13,75.00,38,0,1.01,US,10/20/2020,Best Western Plus Coalinga Inn & Suites
460,Taoudenni,22.68,-3.98,77.61,19,0,10.16,ML,10/20/2020,Hotel Versey Days Inn by Wyndham Chicago
472,Gwadar,25.12,62.33,79.66,26,0,8.66,PK,10/20/2020,Zaver Pearl Continental Hotel
473,Pokhara,28.23,83.98,76.05,45,0,1.66,NP,10/20/2020,Hotel Hakoniwa
541,Doka,13.52,35.77,72.50,47,0,3.58,SD,10/20/2020,Hotel Versey Days Inn by Wyndham Chicago

In [30]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'City'

In [ ]:
# Add marker layer ontop of heat map


# Display figure