# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [71]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from requests import get
import gmaps
import os
from geopy.distance import geodesic

# Import API key
sys.path.insert(0,r'c:\Users\Owen\Desktop\DSV\_HW_Repos\python-api-challenge\common')
from api_keys import g_key

#path to read csv data generated by WeatherPy
csv_file_path = "../output_data/cities.csv"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [72]:
#load csv data generated by WeatherPy into dataframe
cityData = pd.read_csv(csv_file_path)
cityData

,city_name,lat,lng,max_temp,hum,cloud,wind_speed,country_code,date
0,Cape Town,-33.93,18.42,69.01,82,75,12.75,ZA,10/23/2020
1,Walvis Bay,-22.96,14.51,69.80,60,0,8.05,NaN,10/23/2020
2,General Roca,-39.03,-67.58,77.23,46,7,17.09,AR,10/23/2020
3,Saint Paul Harbor,57.79,-152.41,44.60,93,90,26.40,US,10/23/2020
4,Neuquén,-38.95,-68.06,77.95,43,58,11.41,AR,10/23/2020
...,...,...,...,...,...,...,...,...,...
555,Tirlyanskiy,54.21,58.58,23.81,93,59,1.99,RU,10/23/2020
556,Ipojuca,-8.40,-35.06,86.00,66,40,14.99,BR,10/23/2020
557,Plaeng Yao,13.58,101.28,84.99,69,20,5.82,TH,10/23/2020
558,Farafangana,-22.82,47.83,73.42,82,0,9.17,MG,10/23/2020
559,Thai Binh,20.45,106.33,71.60,83,0,2.24,VN,10/23/2020

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [73]:
#configure gmaps with API key
gmaps.configure(g_key)

#create list of lat, lng tuples for each city
locDF = cityData[['lat','lng']]
locPairs = list(locDF.to_records(index=False))

#create list of humidity percentages for each city
weights = list(cityData['hum'].values)

#create heatmap with city locations weighted by humidity percentages
humHeatMap = gmaps.Map()
humWeightedLayer = gmaps.heatmap_layer(locPairs, weights = weights)
humHeatMap.add_layer(humWeightedLayer)
humHeatMap

Map(configuration={'api_key': 'AIzaSyDDBhXcb1hTN6nWybZ5WvJk_yUiISAlSAA'}, data_bounds=[(-46.95585429748722, -1…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [74]:
#filter city data to only citys with temparate weather, low humidity and no clouds
selectCityData = cityData[(cityData['max_temp'] <= 80) & (cityData['max_temp'] >= 65) & (cityData['hum'] < 60) & (cityData['cloud'] <= 30)]
selectCityData.dropna(inplace = True)
selectCityData

,city_name,lat,lng,max_temp,hum,cloud,wind_speed,country_code,date
2,General Roca,-39.03,-67.58,77.23,46,7,17.09,AR,10/23/2020
40,Jalalpur Jattan,32.64,74.22,75.20,57,0,5.70,PK,10/23/2020
60,Abohar,30.15,74.18,74.61,19,0,4.94,IN,10/23/2020
68,Abhā,18.22,42.51,73.40,16,0,10.29,SA,10/23/2020
121,Alice Springs,-23.70,133.88,68.00,49,0,9.17,AU,10/23/2020
160,Nangal,31.37,76.38,68.45,25,0,3.69,IN,10/23/2020
176,Athens,37.98,23.72,77.00,55,0,1.79,GR,10/23/2020
221,Cunha,-23.07,-44.96,76.73,57,26,4.21,BR,10/23/2020
234,Ocampo,21.65,-101.50,67.96,34,2,2.44,MX,10/23/2020
250,Jalu,29.03,21.55,74.28,45,16,10.47,LY,10/23/2020
272,San Martín,-33.08,-68.47,73.40,49,0,5.82,AR,10/23/2020
346,Santa Pola,38.19,-0.57,71.60,56,20,9.17,ES,10/23/2020
385,Abu Samrah,35.30,37.18,76.53,19,0,9.28,SY,10/23/2020
406,Sechura,-5.56,-80.82,73.90,58,9,9.73,PE,10/23/2020
424,Colares,38.80,-9.45,66.00,59,20,9.17,PT,10/23/2020
427,Anbu,23.45,116.68,73.40,43,0,6.71,CN,10/23/2020
431,Constantine,36.37,6.61,78.80,41,0,10.29,DZ,10/23/2020
434,Yarmouth,41.71,-70.23,66.20,59,1,8.25,US,10/23/2020
478,Dipalpur,30.67,73.65,74.23,20,0,5.48,PK,10/23/2020
520,Santiago,-33.46,-70.65,79.00,46,3,4.70,CL,10/23/2020

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [77]:
#create dataframe for hotels in the selected cities
hotel_df = selectCityData.copy()
cityIndicesToRemove = []

#add column for hotel names - values to be replaces later
hotel_df['Hotel Name'] = hotel_df['city_name']

#query URL and parameters
placesURL = 'https://maps.googleapis.com/maps/api/place/findplacefromtext/json'
inputstring = 'hotel'
radius = 30000
fields = 'name,formatted_address,geometry'
inputtype = 'textquery'

#return a hotel for each row location
for i, city in hotel_df.iterrows():
    cityLat = city['lat']
    cityLng = city['lng']
    locationbias = f'circle:{radius}@{cityLat},{cityLng}'
    params = {'key': g_key, 'input': inputstring, 'inputtype': inputtype, 'fields': fields, 'locationbias': locationbias}
    hotelResult = get(placesURL, params).json()
    hotelName = hotelResult['candidates'][0]['name']
    hotelLat = hotelResult['candidates'][0]['geometry']['location']['lat']
    hotelLng = hotelResult['candidates'][0]['geometry']['location']['lng']

    #find distance from city to hotel
    dist = geodesic( (cityLat, cityLng), (hotelLat, hotelLng) ).meters
    #place hotel name in the hotel name column if it is within 50 km of the vacation city
    if dist <= radius:
        hotel_df['Hotel Name'][i] = hotelName
    else:
        cityIndicesToRemove.append(i)
#remove hotels that are not within 50 km of the vacation city
hotel_df.drop(cityIndicesToRemove, axis = 0, inplace = True)
hotel_df

,city_name,lat,lng,max_temp,hum,cloud,wind_speed,country_code,date,Hotel Name
2,General Roca,-39.03,-67.58,77.23,46,7,17.09,AR,10/23/2020,Hotel El Recreo
40,Jalalpur Jattan,32.64,74.22,75.20,57,0,5.70,PK,10/23/2020,Hotel One By Pearl Continental
60,Abohar,30.15,74.18,74.61,19,0,4.94,IN,10/23/2020,HOTEL SEN-NITE
68,Abhā,18.22,42.51,73.40,16,0,10.29,SA,10/23/2020,Abha Palace Hotel
121,Alice Springs,-23.70,133.88,68.00,49,0,9.17,AU,10/23/2020,DoubleTree by Hilton Hotel Alice Springs
160,Nangal,31.37,76.38,68.45,25,0,3.69,IN,10/23/2020,The Gulmohar Grand Hotel - 8 miles stone Behdala
176,Athens,37.98,23.72,77.00,55,0,1.79,GR,10/23/2020,Herodion Hotel
221,Cunha,-23.07,-44.96,76.73,57,26,4.21,BR,10/23/2020,Pousada Vinicola Vale Do Vinho
234,Ocampo,21.65,-101.50,67.96,34,2,2.44,MX,10/23/2020,HOTEL OCAMPO
250,Jalu,29.03,21.55,74.28,45,16,10.47,LY,10/23/2020,Jalu Hotel
272,San Martín,-33.08,-68.47,73.40,49,0,5.82,AR,10/23/2020,Delacava Hotel Boutique
346,Santa Pola,38.19,-0.57,71.60,56,20,9.17,ES,10/23/2020,Hort de Nal
406,Sechura,-5.56,-80.82,73.90,58,9,9.73,PE,10/23/2020,Hotel Amanecer - Sechura
424,Colares,38.80,-9.45,66.00,59,20,9.17,PT,10/23/2020,Dreamsea Surf House Portugal
427,Anbu,23.45,116.68,73.40,43,0,6.71,CN,10/23/2020,Meritus Shantou China
431,Constantine,36.37,6.61,78.80,41,0,10.29,DZ,10/23/2020,Constantine Marriott Hotel
434,Yarmouth,41.71,-70.23,66.20,59,1,8.25,US,10/23/2020,Hyannis Harbor Hotel
478,Dipalpur,30.67,73.65,74.23,20,0,5.48,PK,10/23/2020,Kashif Hotel
520,Santiago,-33.46,-70.65,79.00,46,3,4.70,CL,10/23/2020,"The Ritz-Carlton, Santiago"

In [76]:
# Based off template below
info_box_content = []

#create list of formatted content in info boxes
for i, row in hotel_df.iterrows():
    info_box_content.append(f"""
        <dl>
        <dt>Name</dt><dd>{row['Hotel Name']}</dd>
        <dt>City</dt><dd>{row['city_name']}</dd>
        <dt>Country</dt><dd>{row['country_code']}</dd>
        </dl>
        """
    )
#create list of locations (interpreted as a tuple)
locations = hotel_df[["lat", "lng"]]

# Add marker layer ontop of heat map and plot
hotelLayer = gmaps.marker_layer(locations, info_box_content = info_box_content, display_info_box = True )
humHeatMap.add_layer(hotelLayer)
humHeatMap

Map(configuration={'api_key': 'AIzaSyDDBhXcb1hTN6nWybZ5WvJk_yUiISAlSAA'}, data_bounds=[(-46.95585429748722, -1…

In [46]:
# # NOTE: Do not change any of the code in this cell

# # Using the template add the hotel marks to the heatmap
# info_box_template = """
# <dl>
# <dt>Name</dt><dd>{Hotel Name}</dd>
# <dt>City</dt><dd>{City}</dd>
# <dt>Country</dt><dd>{Country}</dd>
# </dl>
# """
# # Store the DataFrame Row
# # NOTE: be sure to update with your DataFrame name
# hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# locations = hotel_df[["Lat", "Lng"]]